/*
 * Roberto Computational Literacy StickerBook
 * Copyright Michael S. Horn (michael-horn@northwestern.edu)
 */
    
body {
   background-color: #aaa;
   margin: 0;
   padding: 0;
   font-family: 'Alice', serif;
   color: black;
   font-size: 16pt;
   font-weight: normal;
}


#book {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0px;
  left: 0px;
}


.page {
   margin: 0;
   padding: 75px;
   background-color: white;
   /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
   width: 874px;
   height: 618px;
   position: relative;
   overflow: hidden;
   line-height: 180%;
}


.left {
   float: left;
}


h1 {
   font-size: 56pt;
   text-align: center;
   display: block;
   margin: 0;
   font-weight: 200;
}


p {
   margin: 0.3in 0.5in 0.3in 1.1in;
   text-align: left;
}

/*
p:first-of-type:first-letter {
   font-size: 42pt;
}
*/

p.prompt {
   margin: 0.1in 0.75in;
   font-size: 12pt;
   text-align: center;
}


p.instructions {
   text-align: left;
   margin: 0.5in;
   font-family: sans-serif;
   font-size: 12pt;
   line-height: 180%;
   padding: 0.3in;
   border: 1px solid black;
   border-radius: 10px;
   background-color: #eee;
}


.title {
   color : white;
   font-size: 90pt;
   position: absolute;
   top: 1in;
   right: 0.75in;
}


.copyright {
   text-align: center;
   font-size: 9pt;
   line-height: 170%;
}

img.program {
   display: block;
   margin: 0.2in auto 0.1in auto;
}


img.illustration {
   display: block;
   position: absolute;
   /*
   width: 10in;
   height: 8in;
   left: 1.3in;
*/
   left: 112px;
   top: 0px;
   width: 800px;
}


figure {
   padding: 0;
   margin: 0;
   display: block;
   width: 3.35in;
   text-align: center;
}

button {
   width: 80px;
   height: 30px;
}

#prev-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
}

#next-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}
