@charset "utf-8";

* { 
   -webkit-user-select: none; 
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}


body {
   padding: 0;
   margin: 0;
   background-color: #fff;
}


.ipad {
   background-image: url('../images/ipad.png');
   background-repeat: no-repeat;
   background-size: 1154px 902px;
   margin: 30px auto;
   position: relative;
   padding: 110px 100px 100px 101px;
   height: 700px;
   width: 951px;
}


/* content sized to iPad 2 dimensions */
.content {
   padding: 0px;
   margin: 0px;
   line-height: 1.625;
   background-color: #eee;
   height: 700px;
   width: 952px;
   text-align: center;
   overflow-y: hidden;
   overflow-x: hidden;
   position: relative;
}


#toolbar {
   background-color: white;
   border: 1px solid black;
   padding: 10px 18px 4px 21px;
   border-radius: 40px;
   position: absolute;
   bottom: 60px;
   left: 85px;
   text-align: center;
   opacity: 0;
   transition: opacity .25s ease-in-out;
}


#main-canvas {
   margin: 50px auto;
   border: 1px solid rgba(0, 0, 0, 0.5);
   display: block;
   background-color: #fff;
   background-image: url('../images/splash.png');
   background-position: 0px 0px;
   background-repeat: no-repeat;
}


#scan-message {
   position: absolute;
   padding: 10px;
   width: 800px;
   height: 25px;
   font-size: 18pt;
   font-family: sans-serif;
   color: #333;
   text-align: center;
   /*
   border: 1px solid #aaa;
   border-radius: 18px;
   background-color: white;
   top: 30px;
   box-shadow: 3px 3px 12px #666;
   left: 276px;
   */
   bottom: 10px;
   left: 75px;
   opacity: 0;
   transition: opacity .25s ease-in-out;
}


button {
   border: none;
   outline: none;
   width: 38px;
   height: 38px;
   background-position: 0 0;
   background-color: white;
   background-repeat: no-repeat;
   margin: 0 5px;
}


#play-button {
   background-image: url('../images/play.png');
}
#play-button:active { background-position: 3px 3px }


#restart-button {
   background-image: url('../images/restart.png');
}
#restart-button:active { background-position: 3px 3px }


#stop-button {
   background-image: url('../images/stop.png');
}
#stop-button:active { background-position: 3px 3px }


#camera-button {
   background-image: url('../images/camera.png');
   background-color: rgba(0, 0, 0, 0);
   position: absolute;
   bottom: 5px;
   right: 10px;
   width: 54px;
}
#camera-button:active { background-position: 3px 3px; }


